
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap'); */
.nav {
    background: #111111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar h1 {
    color: #E6533C;
    font-size: 36px;
}

.navbar-div {
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    padding: 2%;
}

.home {
    border: 1px solid #E6533C;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #E6533C;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar-a {
    padding-left: 30px;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.content-flex h1 {
    color: white;
    font-size: 76px;
}

.content-flex p {
    font-size: 20px;
    color: #ffffff86;
    width: 400px;
}

.content-flex a {
    border: 1px solid white;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 10px;
}


.back-color {
    background: #E6533C;
    border: 1px solid #E6533C;
}
